ul{
  list-style:none;
  margin-top:50px;
  padding:0;
}
ul :nth-child(even){
  background-color:bisque;
}
.content{
  background-color: #fff;
  border-radius:15px;
}
body{
  background-color: yellow;
  margin:0 50px;
}