body {
  background-color: #eae8b3;
  margin: 0 50px;
}

.content {
  background-color: #fff;
  margin: auto 10vw;
  padding: 0 0 50px 0;
}

.discription {
  margin: 0;
}

ul {
  padding-bottom: 50px;
  padding-left: 0;
  padding: none;
}

li {
  list-style: none;
  display:flex;
}

li:nth-child(even) {
  background-color: rgb(239, 223, 174);
}

li span.price {
  margin-left:auto;
}
